<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">
    <div>
        <h1>오늘의 일기</h1>
        <p></p>
        <p th:text="${User} + '님의 일기입니다.'"/>
        <div id="date">
        </div>
        <p>
        </p>
        <p th:text="'날짜: ' + ${date}"/>
        <br>
        <p th:text="'일기 내용: ' + ${Diary}"/>
    </div>
    <br>
    <button><a th:href="@{/diary/page/changed(date = ${date})}">수정하기</a></button>

    <br>
    <form action="delete" method="#" th:method="delete">
        <input id="user" type="hidden" name="User" th:value="${User}"/>
        <input id="diary_date" type="hidden" name="date" th:value="${date}"/>
        <input type="submit" value="삭제하기">
    </form>
    <button><a th:href="@{/diary/home}">홈으로</a></button>
</div> <!-- /container -->
</body>
</html>
