<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">
    <div>
        <h1>오늘의 일기</h1>
        <p></p>
        <p th:text="${User} + '님의 일기입니다.'"/>
        <div id="date">
        </div>
        <p>
        </p>
        <p th:text="'날짜: ' + ${date}"/>
        <br>
        <p th:text="'일기 내용: ' + ${Diary}"/>
    </div>
    <br>
    <button><a th:href="@{/diary/page/changed(User = ${User}, date = ${date}})}">글 상세보기</a>
        수정하기</a></button>
</div> <!-- /container -->
</body>
</html>
