<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script>
  window.onload = function() {
  var params = `${date}`;
  console.log(params);
  var getdate = params.split(" ").slice(1,4);
  console.log(getdate);
  var el = document.getElementById("date");
  el.textContent = getdate;
  var diary_date = document.getElementById("diary_date")
  diary_date.textContent = getdate;
}
</script>
<body>
<div class="container">
    <div>
        <h1>오늘의 일기</h1>
        <p></p>
        <p th:text="${User} + '님의 일기입니다.'"/>
        <div id="date">
        </div>
        <p>
        </p>
        <p th:text="'날짜: ' + ${date}"/>
        <br>
        <p th:text="'일기 내용: ' + ${Diary}"/>
    </div>
</div> <!-- /container -->
</body>
</html>
