<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">
    <div>
        <h1>오늘의 일기</h1>
        <p></p>
        <p>당신의 이야기를 들려주세요</p>
        <div id="date">
        </div>
        <p>
        <form action="write_method" method="post">
            <input id="user" type="hidden" name="User" th:value="${User}"/>
            <input id="diary_date" type="hidden" name="date" th:value="${date}"/>
            <input id="diary_nature" type="textarea" name="Diary">
            <input type="submit" value="작성하기">
        </form>



        </p>
    </div>
</div> <!-- /container -->
</body>
</html>