<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">회원가입 창</h1>
<hr>
<form action="/diary/join/post" method="post">
<div>
  <b class="name">UserID</b><br>
  <input class="text" type="text" name="ID" placeholder="아이디"><br><br>
</div>
<div>
  <b class="name">PW</b><br>
  <input class="text" type="password" name="PASSWORD" placeholder="패스워드"><br><br>
</div>
<div>
  <b class="name">PW 확인</b><br>
  <input class="text" type="password" name="PW" placeholder="패스워드확인"><br><br>
</div>


<div>
  <input class="sign_up" type="submit" name="Sign up">
</div>
</form>


</body>
</html>